/* Genral Styles*/
* {
    background-color: aquamarine;
    font-family: Frutiger, sans-serif;
  }

h1 {
    text-align: center;
    padding: 30px;
    font-size: 4em;}

p {
        text-align: justify;
        size: height:400px; width: 400px;
    }

.button {
    background-color: #777777;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5dvi;
    
  }
.button:hover { 
        background-color:red;
    } 

.about {
    display:none;
    margin:20px;
    padding:20px;
    font-size:1em;
}
.projects {
    display:none;
    margin:20px;
}
.contact {
    display:none;
    margin:20px;
}


footer {
    border-style:ridge;
    font-size:8pt;
    margin: 10px;
    color: black;
    text-align: center;
}    

